REDIS_HOST='localhost'
REDIS_PORT=6379
REDIS_USERNAME='default'
REDIS_PASSWORD='redis-password'

NZ_11A_BOY_USERNAME='nz-11a-boy-username'
NZ_11A_BOY_PASSWORD='nz-11a-boy-password'
NZ_11A_GIRL_USERNAME='nz-11a-girl-username'
NZ_11A_GIRL_PASSWORD='nz-11a-girl-password'

NZ_11B_BOY_USERNAME='nz-11b-boy-username'
NZ_11B_BOY_PASSWORD='nz-11b-boy-password'
NZ_11B_GIRL_USERNAME='nz-11b-girl-username'
NZ_11B_GIRL_PASSWORD='nz-11b-girl-password'

TELEGRAM_BOT_TOKEN='000000000:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
TELEGRAM_SUPER_ADMIN_ID=000000000

POSTGRES_PORT=5432
POSTGRES_USER='vl34-11-bot'
POSTGRES_PASSWORD='vl34-11-bot'

DATABASE_URL='postgresql://vl34-11-bot:vl34-11-bot@localhost:5432/vl34-11-bot?schema=public'