<!DOCTYPE html>
<html lang='uk'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>11-А/Б бот - 404</title>
    <link
      href='https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css'
      rel='stylesheet'
    />
    <script src='https://cdn.tailwindcss.com'></script>
  </head>
  <body>
    <section class='bg-white'>
      <div class='py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6'>
        <div class='mx-auto max-w-screen-sm text-center'>
          <h1
            class='mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-[#2563eb]'
          >404</h1>
          <p
            class='mb-4 text-3xl tracking-tight font-bold text-gray-[#1e3a8a] md:text-4xl'
          >Чогось не вистачає.</p>
          <p class='mb-4 text-lg font-light text-gray-[#3b82f6]'>Вибачте, ми не
            можемо знайти цю сторінку. Ви знайдете багато цікавого на головній
            сторінці.
          </p>
          <a
            href='/'
            class='inline-flex text-white bg-[#2563eb] hover:bg-[#1e40af] focus:ring-4 focus:outline-none focus:ring-[#93c5fd] font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4'
          >Повернутися на головну</a>
        </div>
      </div>
    </section>
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js'
    ></script>
  </body>
</html>