<!DOCTYPE html>
<html lang='uk'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>11-А/Б бот</title>
    <link
      href='https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css'
      rel='stylesheet'
    />
    <script src='https://cdn.tailwindcss.com'></script>
  </head>
  <body>
    <section class='bg-white'>
      <div
        class='grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12'
      >
        <div class='mr-auto place-self-center lg:col-span-7'>
          <h1
            class='max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl'
          >Швидко та зручно отримуйте розклад уроків.</h1>
          <p
            class='max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl'
          >Телеграм-бот для 11-А та 11-Б класів Вінницького ліцею №34.</p>
          <a
            href='https://t.me/vl34_11_bot'
            class='inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-[#1d4ed8] hover:bg-[#1e40af] focus:ring-4 focus:ring-[#93c5fd]'
          >
            Перейти
            <svg
              class='w-5 h-5 ml-2 -mr-1'
              fill='currentColor'
              viewBox='0 0 20 20'
              xmlns='http://www.w3.org/2000/svg'
            ><path
                fill-rule='evenodd'
                d='M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z'
                clip-rule='evenodd'
              ></path></svg>
          </a>
        </div>
        <div class='hidden lg:mt-0 lg:col-span-5 lg:flex'>
          <img src='/images/mockup.png' alt='mockup' />
        </div>
      </div>
    </section>
    <section class='bg-white'>
      <div class='py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6'>
        <div class='mb-8 lg:mb-16 text-center'>
          <h2
            class='text-3xl md:text-4xl tracking-tight font-extrabold text-gray-900'
          >Основні можливості</h2>
        </div>
        <div
          class='space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0'
        >
          <div>
            <div
              class='flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-[#dbeafe] lg:h-12 lg:w-12'
            >
              <svg
                class='w-5 h-5 text-[#2563eb] lg:w-6 lg:h-6'
                fill='currentColor'
                viewBox='0 0 20 20'
                xmlns='http://www.w3.org/2000/svg'
              ><path
                  d='M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z'
                ></path></svg>
            </div>
            <h3 class='mb-2 text-xl font-bold'>Онлайн-уроки</h3>
            <p class='text-gray-500'>Приєднуйтесь до онлайн-уроків прямо з
              розкладу одним кліком.</p>
          </div>
          <div>
            <div
              class='flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-[#dbeafe] lg:h-12 lg:w-12'
            >
              <svg
                class='w-5 h-5 text-[#2563eb] lg:w-6 lg:h-6'
                fill='currentColor'
                viewBox='0 0 24 24'
                xmlns='http://www.w3.org/2000/svg'
              ><path
                  d='M17.1 12.6v-1.8A5.4 5.4 0 0 0 13 5.6V3a1 1 0 0 0-2 0v2.4a5.4 5.4 0 0 0-4 5.5v1.8c0 2.4-1.9 3-1.9 4.2 0 .6 0 1.2.5 1.2h13c.5 0 .5-.6.5-1.2 0-1.2-1.9-1.8-1.9-4.2Zm-13.2-.8a1 1 0 0 1-1-1c0-2.3.9-4.6 2.5-6.4a1 1 0 1 1 1.5 1.4 7.4 7.4 0 0 0-2 5 1 1 0 0 1-1 1Zm16.2 0a1 1 0 0 1-1-1c0-1.8-.7-3.6-2-5a1 1 0 0 1 1.5-1.4c1.6 1.8 2.5 4 2.5 6.4a1 1 0 0 1-1 1ZM8.8 19a3.5 3.5 0 0 0 6.4 0H8.8Z'
                /></svg>
            </div>
            <h3 class='mb-2 text-xl font-bold'>Сповіщення про зміни</h3>
            <p class='text-gray-500'>Отримуйте миттєві сповіщення про будь-які
              зміни в розкладі.</p>
          </div>
          <div>
            <div
              class='flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-[#dbeafe] lg:h-12 lg:w-12'
            >
              <svg
                class='w-5 h-5 text-[#2563eb] lg:w-6 lg:h-6'
                fill='currentColor'
                viewBox='0 0 24 24'
                xmlns='http://www.w3.org/2000/svg'
              ><path
                  fill-rule='evenodd'
                  d='M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm11-4a1 1 0 1 0-2 0v4c0 .3.1.5.3.7l3 3a1 1 0 0 0 1.4-1.4L13 11.6V8Z'
                  clip-rule='evenodd'
                /></svg>
            </div>
            <h3 class='mb-2 text-xl font-bold'>Автоматичний розклад</h3>
            <p class='text-gray-500'>Отримуйте щоденний розклад уроків
              автоматично о 7:30 ранку.</p>
          </div>
        </div>
      </div>
    </section>
    <section class='bg-white'>
      <div
        class='max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6'
      >
        <div class='mb-8 lg:mb-16 text-center'>
          <h2
            class='text-3xl md:text-4xl tracking-tight font-extrabold text-gray-900'
          >Статистика бота</h2>
        </div>
        <dl
          class='grid max-w-screen-md gap-8 mx-auto text-gray-900 sm:grid-cols-3'
        >
          <div class='flex flex-col items-center justify-center'>
            <dt
              class='mb-2 text-3xl md:text-4xl font-extrabold'
            >{{userCount}}</dt>
            <dd class='font-light text-gray-500'>користувачів</dd>
          </div>
          <div class='flex flex-col items-center justify-center'>
            <dt
              class='mb-2 text-3xl md:text-4xl font-extrabold'
            >{{scheduleGettingCount}}</dt>
            <dd class='font-light text-gray-500'>отриманих розкладів</dd>
          </div>
          <div class='flex flex-col items-center justify-center'>
            <dt
              class='mb-2 text-3xl md:text-4xl font-extrabold'
            >{{connectedToLessonsCount}}</dt>
            <dd class='font-light text-gray-500'>підключень до уроків</dd>
          </div>
        </dl>
      </div>
    </section>
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js'
    ></script>
  </body>
</html>